.h1 {
    font-family: "Lucida Console", "Courier New", monospace;;
  }
  /* Style the tab */
.tab {
    overflow: hidden;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 1px solid #ff8484;
    background-color: #ef2d2d;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ff8383;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #841b1b;
  }

  /*seperates the 2 columns for the hours */
  .hours {
    display: flex;
    justify-content: center;
  }

  .row {
    display: flex;
    justify-content: center;
    column-gap: 20%;
  }

  .column {
    flex: 50%;
    flex-grow: 1;
  }